## Week 10 and 11 Assignment - DATASCI200 Introduction to Data Science Programming, UC Berkeley MIDS

Write code in this Jupyter Notebook to solve the following problems. Please upload this **Notebook** with your solutions to your GitHub repository and provide a link in the last question in gradescope. 

Assignment due date: 11:59PM PT the night before the Week 12 Live Session. Do **NOT** push/upload the data file.

## Objectives

- Explore and glean insights from a real dataset using pandas
- Practice using pandas for exploratory analysis, information gathering, and discovery
- Practice cleaning data and answering questions

## General Guidelines:

- This is a **real** dataset and so it may contain errors and other pecularities to work through
- This dataset is ~218mb, which will take some time to load (and probably won't load in Google Sheets or Excel)
- If you make assumptions, annotate them in your responses
- While there is one code/markdown cell positioned after each question as a placeholder, some of your code/responses may require multiple cells
- Double-click the markdown cells that say for example **1a answer here:** to enter your written answers. If you need more cells for your written answers, make them markdown cells (rather than code cells)
- This homework assignment is not autograded because of the variety of responses one could give. 
  - Please upload this notebook to the autograder page and the TAs will manually grade it. 
  - Ensure that each cell is run and outputs your answer for ease of grading! 
  - Highly suggest to do a `restart & run all` before uploading your code to ensure everything runs and outputs correctly.
  - Answers without code (or code that runs) will be given 0 points.
- **This is meant to simulate real world data so you will have to do some external research to determine what some of the answers are!**

## Dataset

You are to analyze campaign contributions to the 2016 U.S. presidential primary races made in California. Use the csv file located here: https://drive.google.com/file/d/1Lgg-PwXQ6TQLDowd6XyBxZw5g1NGWPjB/view?usp=sharing. You should download and save this file in the same folder as this notebook is stored.  This file originally came from the U.S. Federal Election Commission (https://www.fec.gov/).

**DO NOT PUSH THIS FILE TO YOUR GITHUB REPO!**

- Best practice is to not have DATA files in your code repo. As shown below, the default load is outside of the folder this notebook is in. If you change the folder where the file is stored please update the first cell!
- If you do accidentally push the file to your github repo - follow the directions here to fix it: https://docs.google.com/document/d/15Irgb5V5G7pKPWgAerH7FPMpKeQRunbNflaW-hR2hTA/edit?usp=sharing

Documentation for this data can be found here: https://drive.google.com/file/d/11o_SByceenv0NgNMstM-dxC1jL7I9fHL/view?usp=sharing

## Data Questions

You are working for a California state-wide election campaign. Your boss wants you to examine historic 2016 election contribution data to see what zipcodes are more supportive of fundraising for your candidate. 

Your boss asks you to filter out some of the records:
- Only use primary 2016 contribution data (more like how your race is).
- Concentrate on Bernie Sanders as a candidate (most a like your candidate)

The questions your boss wants answered is:
- Which zipcode (5-digit zipcode) had the highest count of contributions and the most dollar amount?
- What day(s) of the month do most people donate?

## Setup

Run the cell below as it will load the data into a pandas dataframe named `contrib`. Note that a custom date parser is defined to speed up loading. If Python were to guess the date format, it would take even longer to load.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# These commands below set some options for pandas and to have matplotlib show the charts in the notebook
pd.set_option('display.max_rows', 1000)
pd.options.display.float_format = '{:,.2f}'.format

# Define a date parser to pass to read_csv
d = lambda x: datetime.strptime(x, '%d-%b-%y')

# Load the data
# We have this defaulted to the folder OUTSIDE of your repo - please change it as needed
contrib = pd.read_csv('P00000001-CA.csv', index_col=False, parse_dates=['contb_receipt_dt'], date_parser=d)

# Note - for now, it is okay to ignore the warning about mixed types.

/opt/conda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3433: DtypeWarning: Columns (6,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

***
## 1. Initial Data Checks (50 points)

First we will take a preliminary look at the data to check that it was loaded correctly and contains the info we need.

The questions to answer at the end of this section:
- Do we have the correct # of columns and rows. 
- Do the records contain data for the questions we want to answer 
- What columns are important? 
- What columns can be dropped?
- What are the data problems?

**1a.** Print the *shape* of the data. Does this match the expectation? (2 points)

In [2]:
# 1a YOUR CODE HERE
contrib.shape

(1125659, 18)

- **1a answer here:**  This is in line with expectations since this is probably a survey. Having one million subjects is a massive sample size. 18 indicates the number of variables we are looking at.

**1b.** Print a list of column names. Are all the columns included that are in the documentation? (2 points)

In [3]:
# 1b YOUR CODE HERE
contrib.columns

Index(['cmte_id', 'cand_id', 'cand_nm', 'contbr_nm', 'contbr_city',
       'contbr_st', 'contbr_zip', 'contbr_employer', 'contbr_occupation',
       'contb_receipt_amt', 'contb_receipt_dt', 'receipt_desc', 'memo_cd',
       'memo_text', 'form_tp', 'file_num', 'tran_id', 'election_tp'],
      dtype='object')

- **1b answer here:**  Yup. All the columns included are in the documentation.

**1c** Print out the first five rows of the dataset. How do the columns `cand_id`, `cand_nm` and `contbr_st` look? (3 points)

In [4]:
# 1c YOUR CODE HERE
contrib.head(5)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00575795,P00003392,"Clinton, Hillary Rodham","AULL, ANNE",LARKSPUR,CA,"949,391,913.00",NaN,RETIRED,50.00,2016-04-26,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4768722,P2016
1,C00575795,P00003392,"Clinton, Hillary Rodham","CARROLL, MARYJEAN",CAMBRIA,CA,"934,284,638.00",NaN,RETIRED,200.00,2016-04-20,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4747242,P2016
2,C00575795,P00003392,"Clinton, Hillary Rodham","GANDARA, DESIREE",FONTANA,CA,"923,371,507.00",NaN,RETIRED,5.00,2016-04-02,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4666603,P2016
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016

- **1c answer here:** It looks like there are duplicates for cand_id and cand_nm. The contribution state so far have been in california only.

**1d.** Print out the values for the column `election_tp`. In your own words, based on the documentation, what information does the `election_tp` variable contain? Do the values in the column match the documentation? (3 points)

In [5]:
# 1d YOUR CODE HERE
contrib['election_tp']

0          P2016
1          P2016
2          P2016
3          P2016
4          P2016
           ...
1125654    P2016
1125655    P2016
1125656    P2016
1125657    P2016
1125658    P2016
Name: election_tp, Length: 1125659, dtype: object

- **1d answer here:** It shows what type of election this takes place, which is the 2016 presidential election. It is in line with the documentation since it looks at the election type.

**1e.** Print out the datatypes for all of the columns. What are the datatypes for the `contbr_zip`, `contb_receipt_amt`, `contb_receipt_dt`? (5 points)

In [6]:
# 1e YOUR CODE HERE
contrib.dtypes

cmte_id                      object
cand_id                      object
cand_nm                      object
contbr_nm                    object
contbr_city                  object
contbr_st                    object
contbr_zip                   object
contbr_employer              object
contbr_occupation            object
contb_receipt_amt           float64
contb_receipt_dt     datetime64[ns]
receipt_desc                 object
memo_cd                      object
memo_text                    object
form_tp                      object
file_num                      int64
tran_id                      object
election_tp                  object
dtype: object

- **1e answer here:** datatypes for contbr_zip, contb_receipt_amt, contb_receipt_dt are string object, float, and datetime respectively.

**1f.** What columns have the most non-nulls?  Would you recommend to drop any columns based on the number of nulls? (5 points)

In [7]:
# 1f YOUR CODE HERE
contrib.isna().sum()

cmte_id                    0
cand_id                    0
cand_nm                    0
contbr_nm                  0
contbr_city               26
contbr_st                  0
contbr_zip                95
contbr_employer       157902
contbr_occupation      10399
contb_receipt_amt          0
contb_receipt_dt           0
receipt_desc         1110614
memo_cd               981391
memo_text             624511
form_tp                    0
file_num                   0
tran_id                    0
election_tp             1425
dtype: int64

- **1f answer here:** cmte_id, cand_id, cand_nm, contbr_nm, contbr_st, contb_recept_amt, contb_receipt_dt, form_tp, file_num, and train_id have no null values. Yes. I would drop receipt_desc, memo_cd, and probably memo_text since more than half of them have null values.

**1g.** A column we know that we want to use is the cand_nm column.  From the documentation each candidate is a unique candidate id also. Check data quality of `cand_id` column to see if it matches `cand_nm` column. Specifically check to ensure our targetted candidate 'Bernard Sanders' always has the same cand_id throughout. Any issues with `cand_nm` matching `cand_id`? (5 points)

In [8]:
# 1g YOUR CODE HERE
sanders = contrib[contrib['cand_nm'].str.contains("Sanders")]
sanders['cand_id'].value_counts()

P60007168    407172
Name: cand_id, dtype: int64

- **1g answer here:** We checked that Bernie Sanders only has one candidate id throughout all observations.

**1h.** Another area to check is to make sure all of the records are from California. Check the `contbr_st` column - are there any records outside of California based on `contbr_st`? (5 points)

In [9]:
# 1h YOUR CODE HERE
contrib['contbr_st'].value_counts()

CA    1125659
Name: contbr_st, dtype: int64

- **1h answer here:** no. there are only CA

**1i.** The next column to check for the analysis is the `tran_id` column. This column could be the primary key so look for duplicates. How many duplicate entries are there? Any pattern for why are there duplicate entries? (5 points)

In [10]:
# 1i YOUR CODE HERE
np.sum((contrib['tran_id'].value_counts() > 1).values)

3419

- **1i answer here:** There are duplicate entries.

**1j.** Another column to check is the `contb_receipt_amt` that shows the donation amounts. How many negative donations are included? What do negative donations mean? Please show at least pull a few rows to look at the records with negative donations. Do these records match with the expectation of why a negative donation would happen? (5 points)

In [11]:
# 1j YOUR CODE HERE
((contrib['contb_receipt_amt'] < 0).values).sum()
contrib[contrib['contb_receipt_amt'] < 0].head(5)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
19,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","JOLLIFF, RICHARD",CHICO,CA,"959,289,507.00",SELF EMPLOYED,RANCHER,-25.00,2016-04-29,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1826482B,P2016
23,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","JOLLIFF, RICHARD",CHICO,CA,"959,289,507.00",SELF EMPLOYED,RANCHER,-150.00,2016-04-29,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1826483B,P2016
81,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","JOLLIFF, RICHARD",CHICO,CA,"959,289,507.00",SELF EMPLOYED,RANCHER,-60.00,2016-04-14,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1827494,P2016
190,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","NOWELL, DIANA L.",RANCHO SANTA MARGARITA,CA,"926,884,928.00",CAPISTRAND UNIFIED SCHOOL DISTRICT,LIBRARIAN TECHNICIAN,-100.00,2016-04-11,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1639830B,P2016
213,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","LICHTY, ANDREW MR.",SAN DIEGO,CA,"921,096,720.00",SELF EMPLOYED,REAL ESTATE,-25.00,2016-04-30,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1826888B,P2016

- **1j answer here:** There are 11,896 negative donations. It has to do with reallocation or have some value under receipt_desc and memo text. This indicates some redistribution of funds.

**1k.** One more column to look at is the date of donation column. Are there any dates outside of the primary period (defined as 1 Jan 2014 to 7 June 2016)? Are the dates well-formatted for our analysis? (5 points)

In [12]:
# 1k YOUR CODE HERE
contrib[contrib['contb_receipt_dt'] < datetime(2014, 1, 1)]

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
9932,C00458844,P60006723,"Rubio, Marco","WHEELER, MARY MS.",ATHERTON,CA,"940,273,415.00",SELF-EMPLOYED,INTERIOR DESIGNER,-20.00,2013-11-05,NaN,X,TRANSFER FROM RUBIO VICTORY,SA18,1029436,SA18.631526.2.0615,P2016
9994,C00458844,P60006723,"Rubio, Marco","WHEELER, MARY MS.",ATHERTON,CA,"940,273,415.00",SELF-EMPLOYED,INTERIOR DESIGNER,20.00,2013-11-05,NaN,X,TRANSFER FROM RUBIO VICTORY,SA18,1029436,SA18.631526.3.0615,G2016

In [13]:
contrib[contrib['contb_receipt_dt'] > datetime(2016, 6, 7)]

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
14673,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","RANDALL, DICK J",CUPERTINO,CA,"95,014.00",NaN,NaN,"-5,400.00",2016-06-30,Refund,NaN,NaN,SB28A,1096256,SB28A.90932,NaN
14682,C00605568,P20002671,"Johnson, Gary","BOAL, ROB",OAK PARK,CA,"91,377.00",VENDAVO,ENGINEER,30.00,2016-07-20,NaN,NaN,NaN,SA17A,1096305,SA17A.50793,G2016
14697,C00605568,P20002671,"Johnson, Gary","LEE, JASCHA",SANTA CRUZ,CA,"95,065.00",YAHOO,S/W ENG,88.45,2016-07-14,NaN,NaN,NaN,SA17A,1096305,SA17A.51414,G2016
14698,C00605568,P20002671,"Johnson, Gary","LEE, JASCHA",SANTA CRUZ,CA,"95,065.00",YAHOO,S/W ENG,100.00,2016-07-24,NaN,NaN,NaN,SA17A,1096305,SA17A.51415,G2016
14700,C00575795,P00003392,"Clinton, Hillary Rodham","BAKER, JUDY",VACAVILLE,CA,"956,873,433.00",NaN,RETIRED,5.00,2016-07-25,NaN,X,* HILLARY VICTORY FUND,SA18,1109498,C8807328,P2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123992,C00575795,P00003392,"Clinton, Hillary Rodham","RANDALL, NANCY ENA",BAKERSFIELD,CA,933124485,RETIRED,REGISTERED NURSE,5.00,2016-08-02,NaN,NaN,NaN,SA17A,1100718,C8235857,G2016
1123993,C00575795,P00003392,"Clinton, Hillary Rodham","WRIGHT, LORNA",BENICIA,CA,945101743,NaN,RETIRED,50.00,2016-08-09,NaN,NaN,NaN,SA17A,1100718,C8997947,G2016
1123994,C00575795,P00003392,"Clinton, Hillary Rodham","BALES, REBECCA",PASADENA,CA,911051700,PASADENA HEALTHCARE CONSULTING,HOSPITAL CFO,100.00,2016-08-31,NaN,NaN,NaN,SA17A,1100718,C9829807,G2016
1123995,C00575795,P00003392,"Clinton, Hillary Rodham","BELLINGER, MARTHA",CLAREMONT,CA,917112219,NaN,RETIRED,75.00,2016-08-31,NaN,NaN,NaN,SA17A,1100718,C9862797,G2016
1123996,C00580100,P80001571,"Trump, Donald J.","DELLA DONNA, KADEE",LONG BEACH,CA,90803,SELF-EMPLOYED,REAL ESTATE,250.00,2016-07-06,NaN,NaN,NaN,SA17A,1104813,SA17A.1627816,P2016

- **1k answer here:** They are already in datetime. So this is well formatted for our analysis. There are only 2 datapoints before January 1st 2014 but over 400,000 after June 7th 2016.

**1l.** Finally, answer the initial questions in the cells below (5 points)

**1l.1** Do we have the correct # of columns and rows.

- **1l.1 answer here:** Yes. we have the correct number of columns and rows.

**1l.2** Do the records contain data for the questions we want to answer?

- **1l.2 answer here:** Yes, our records contain the necessary data for the questions on zipcode and dates we want to answer.

**1l.3** What columns are important?

- **1l.3 answer here:** zipcode, dates, contribution receipt amount, candidate number or id since we are only looking at bernie sanders.

**1l.4** What columns can be dropped?

- **1l.4 answer here:** everything else

**1l.5** What are the data problems?

- **1l.5 answer here:** The only data problem is negative donations. They should fall under another category since these cash flow represents another form of transaction outside of donations.

**1l.6** List any assumptions so far:

- **1l.6 answer here:** One assumption I have made is that after ensuring our targetted candidate, Bernie Sanders, have consistent candidate ID, i did not check for other candidates but only assumed the other candidates are fine if Bernie Sanders, one of the more controversial candidates, is free from data errors.

***
## 2. Data filtering and data quality fixes (30 points)

Now that we have a basic understanding of the data, let's filter out the records we don't need and fix the data.

**2a.** From the dataset filter out (remove) any election_tp not in the primary election. Print/show the shape of the dataframe after the filtering is complete. (5 points)

In [2]:
# 2a YOUR CODE HERE
p2016_contrib = contrib[contrib['election_tp'] == 'P2016']
p2016_contrib.head(5)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00575795,P00003392,"Clinton, Hillary Rodham","AULL, ANNE",LARKSPUR,CA,"949,391,913.00",NaN,RETIRED,50.00,2016-04-26,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4768722,P2016
1,C00575795,P00003392,"Clinton, Hillary Rodham","CARROLL, MARYJEAN",CAMBRIA,CA,"934,284,638.00",NaN,RETIRED,200.00,2016-04-20,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4747242,P2016
2,C00575795,P00003392,"Clinton, Hillary Rodham","GANDARA, DESIREE",FONTANA,CA,"923,371,507.00",NaN,RETIRED,5.00,2016-04-02,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4666603,P2016
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016

**2b.** From the dataset filter out (remove) any candidate that is not Bernie Sanders. Print/show the shape of the dataframe after the filtering is complete. (5 points)

In [3]:
# 2b YOUR CODE HERE
sanders_contrib = p2016_contrib[p2016_contrib['cand_nm'] == 'Sanders, Bernard']
sanders_contrib.head(5)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016
5,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,100.00,2016-03-06,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKYBXV4,P2016
6,C00577130,P60007168,"Sanders, Bernard","LEOPARD, PATTI",VISTA,CA,"920,842,849.00",ONSITE ENERGY CORPORATION,PROJECT MANAGER,25.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKW04C1,P2016
8,C00577130,P60007168,"Sanders, Bernard","LEPKE, KELLY",WESTMINSTER,CA,"926,833,846.00",NONE,NOT EMPLOYED,10.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3H59,P2016

**2c.** The `contbr_zip` column is not formatted well for our analysis. Make a new zipcode column that is the five-digit zipcodes. Filter out any records outside of California based on the zipcode. Print/show the shape of the dataframe after the filtering is complete. (10 points).

- You will have to research what the valid 5-digit zipcodes for California are!

In [4]:
# 2c YOUR CODE HERE
zipcode = sanders_contrib
zipcode['zip'] = zipcode['contbr_zip'].astype(int)
zipcode['ca_zipcode'] = zipcode['zip'].astype(str).str[:5].astype(int)
ca_zip = zipcode[zipcode['ca_zipcode'] >= 89061]
ca_zip = ca_zip[ca_zip['ca_zipcode'] <= 97635]
ca_zip.head(5)

/tmp/ipykernel_284/3514574897.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zipcode['zip'] = zipcode['contbr_zip'].astype(int)
/tmp/ipykernel_284/3514574897.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zipcode['ca_zipcode'] = zipcode['zip'].astype(str).str[:5].astype(int)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp,zip,ca_zipcode
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016,930111214,93011
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016,902784310,90278
5,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,100.00,2016-03-06,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKYBXV4,P2016,902784310,90278
6,C00577130,P60007168,"Sanders, Bernard","LEOPARD, PATTI",VISTA,CA,"920,842,849.00",ONSITE ENERGY CORPORATION,PROJECT MANAGER,25.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKW04C1,P2016,920842849,92084
8,C00577130,P60007168,"Sanders, Bernard","LEPKE, KELLY",WESTMINSTER,CA,"926,833,846.00",NONE,NOT EMPLOYED,10.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3H59,P2016,926833846,92683

**2d.** The receipt amount column has negative donations. After talking with your team, a decision was made that the best course of action is to remove these negative values so that the donation count and amount is more accurate. Print/show the shape of the dataframe after the filtering is complete. (5 points)

In [5]:
# 2d YOUR CODE HERE
positive = ca_zip[ca_zip['contb_receipt_amt'] >= 0]
positive.head(5)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp,zip,ca_zipcode
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016,930111214,93011
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016,902784310,90278
5,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,100.00,2016-03-06,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKYBXV4,P2016,902784310,90278
6,C00577130,P60007168,"Sanders, Bernard","LEOPARD, PATTI",VISTA,CA,"920,842,849.00",ONSITE ENERGY CORPORATION,PROJECT MANAGER,25.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKW04C1,P2016,920842849,92084
8,C00577130,P60007168,"Sanders, Bernard","LEPKE, KELLY",WESTMINSTER,CA,"926,833,846.00",NONE,NOT EMPLOYED,10.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3H59,P2016,926833846,92683

**2e.** From the dataset drop any columns that won't be used in the analysis. Print/show the shape of the dataframe after the dropping is complete. What columns did you drop and why? (5 points)

In [6]:
# 2e YOUR CODE HERE
final = positive[['cand_id', 'cand_nm', 'contb_receipt_dt', 'contb_receipt_amt', 'ca_zipcode']]
final.head(5)

     cand_id           cand_nm contb_receipt_dt  contb_receipt_amt  ca_zipcode
3  P60007168  Sanders, Bernard       2016-03-04              40.00       93011
4  P60007168  Sanders, Bernard       2016-03-05              35.00       90278
5  P60007168  Sanders, Bernard       2016-03-06             100.00       90278
6  P60007168  Sanders, Bernard       2016-03-04              25.00       92084
8  P60007168  Sanders, Bernard       2016-03-05              10.00       92683

- **2e answer here:** I dropped everything else other than candidate id, candidate name, contribution date, contribution amount, and zipcode. Everything else were irrelevant for our study.

**2f.** List any assumptions that you made up to this point:

- **2f answer here:** After some cleaning and filtering, all assumptions from initial exploration are no longer needed.

***
## 3. Answering the questions (20 points)

Now that the data is cleaned and filterd - let's answer the two questions from your boss!

**3a.** Which zipcode had the highest count of contributions and the most dollar amount? (10 points)

In [7]:
# 3a YOUR CODE HERE
final.groupby(['ca_zipcode'])['contb_receipt_amt'].agg(['sum','count']).sort_values(by='count', ascending=False)

                  sum  count
ca_zipcode
94110      294,061.13   4046
94114      208,602.37   3043
94117      201,545.43   2884
95060      145,414.63   2849
94611      150,232.12   2516
...               ...    ...
93530          300.00      1
93590          100.00      1
92616           27.00      1
92079           28.00      1
93190           50.00      1

[1834 rows x 2 columns]

- **3a answer here:**  The zipcode with 94110 had the greatest dollar amount for contributions at 294,061.13 as well as the greatest number of contributions at 4046.

**3b.** What day(s) of the month do most people donate? (10 points)

In [8]:
# 3b YOUR CODE HERE
final.groupby(['contb_receipt_dt'])['contb_receipt_amt'].count().sort_values(ascending=False)

contb_receipt_dt
2016-02-29    8458
2016-03-31    8438
2016-05-31    7084
2016-04-30    6690
2016-03-09    6495
2016-03-14    6397
2016-03-30    6390
2016-04-08    5611
2016-03-16    4898
2016-04-06    4824
2016-04-15    4524
2016-03-29    4404
2016-02-10    4313
2016-04-20    3940
2016-05-04    3912
2016-06-08    3754
2016-03-13    3623
2016-04-17    3622
2016-05-03    3610
2016-03-06    3585
2016-04-13    3551
2016-03-23    3462
2016-04-09    3460
2016-06-30    3407
2016-04-14    3361
2016-03-27    3294
2016-03-17    3241
2016-05-10    3198
2016-05-18    3177
2016-02-02    3130
2016-03-28    3076
2016-02-23    3003
2016-01-29    2975
2016-02-09    2862
2016-04-05    2860
2016-03-12    2778
2016-03-08    2756
2016-04-18    2744
2016-02-26    2718
2016-04-01    2708
2016-02-28    2609
2016-04-29    2607
2016-05-11    2585
2016-04-26    2582
2016-04-27    2579
2016-05-22    2565
2016-03-05    2544
2016-03-21    2542
2016-04-19    2447
2016-03-25    2392
2016-04-16    2369
2016-02-20    2366
2016-03-02    2346
2016-06-01    2287
2016-06-28    2252
2015-12-31    2243
2016-03-26    2242
2016-04-28    2214
2016-04-04    2212
2016-02-27    2206
2016-03-11    2195
2016-05-26    2190
2016-04-07    2154
2016-04-25    2136
2016-06-07    2104
2016-05-24    2076
2016-05-27    2050
2016-04-10    1993
2016-03-04    1978
2016-02-21    1927
2016-04-03    1920
2016-05-02    1919
2016-03-01    1916
2016-02-24    1871
2016-03-07    1861
2016-05-21    1830
2016-03-24    1785
2016-02-16    1751
2016-01-27    1736
2016-01-28    1726
2016-05-28    1724
2016-02-17    1680
2016-06-29    1661
2016-01-30    1657
2016-04-12    1653
2015-12-16    1596
2016-04-22    1592
2016-02-25    1586
2016-03-10    1583
2016-02-12    1539
2016-05-14    1499
2016-03-15    1489
2016-03-20    1478
2016-05-08    1451
2016-01-26    1444
2016-03-18    1414
2016-05-07    1410
2016-01-25    1404
2016-03-22    1404
2016-02-18    1393
2015-10-14    1374
2016-04-23    1351
2016-05-13    1347
2016-06-11    1329
2015-09-30    1326
2016-04-11    1323
2016-04-21    1307
2016-01-17    1302
2016-02-22    1300
2015-12-30    1291
2016-05-25    1284
2016-05-20    1266
2015-12-18    1233
2016-04-02    1217
2016-05-09    1217
2015-12-28    1207
2015-10-13    1203
2016-02-11    1199
2016-01-14    1176
2016-05-12    1157
2016-05-19    1152
2016-05-23    1149
2016-05-01    1130
2015-11-04    1118
2016-02-19    1101
2016-01-31    1096
2015-12-29    1057
2016-02-04    1053
2016-02-05    1053
2016-05-15    1044
2016-07-01    1043
2016-06-23    1035
2016-03-19    1018
2016-05-05    1015
2016-01-12    1001
2016-01-19     985
2016-02-01     984
2016-01-18     975
2015-12-14     951
2016-02-08     926
2016-05-17     916
2016-01-21     911
2016-02-14     901
2016-05-06     893
2015-12-15     892
2016-03-03     886
2016-06-09     883
2016-05-16     883
2016-02-03     882
2016-05-29     882
2016-02-13     874
2016-01-13     851
2015-11-05     845
2015-11-15     842
2016-02-15     809
2016-01-16     803
2016-01-10     800
2016-05-30     785
2016-06-13     774
2015-11-14     771
2016-06-02     756
2016-04-24     741
2015-12-19     726
2015-10-19     697
2015-10-07     687
2016-01-11     669
2016-06-03     666
2016-06-04     664
2016-06-14     654
2016-01-15     640
2015-12-08     639
2015-12-20     635
2016-06-16     624
2016-06-12     618
2015-12-21     597
2016-01-20     582
2016-01-22     578
2015-12-07     573
2015-10-08     548
2015-12-23     548
2016-06-15     533
2015-10-29     530
2016-06-17     517
2016-06-05     515
2016-02-07     512
2015-10-01     510
2016-02-06     510
2016-06-10     496
2016-01-23     494
2015-11-30     480
2015-09-23     480
2015-11-16     469
2015-10-30     464
2016-07-05     460
2016-01-05     458
2015-12-17     436
2015-09-29     430
2016-01-08     428
2015-12-13     426
2016-06-06     423
2015-10-15     421
2015-12-12     413
2016-01-07     412
2015-10-05     409
2016-06-24     408
2016-07-13     407
2015-10-28     391
2015-12-01     390
2016-06-21     383
2015-11-13     380
2015-09-15     378
2016-01-01     367
2016-07-12     367
2015-11-28     354
2015-11-11     352
2016-01-24     344
2015-10-21     342
2015-11-06     330
2016-07-14     328
2016-01-04     324
2015-11-02     321
2015-12-09     317
2015-11-17     307
2015-10-03     300
2015-11-21     296
2015-10-10     293
2015-11-20     288
2015-10-09     287
2015-10-02     287
2015-10-31     284
2015-12-02     283
2015-10-17     283
2015-11-29     278
2015-12-22     277
2016-07-16     271
2015-11-03     270
2015-09-08     267
2016-07-28     264
2015-11-01     263
2015-10-23     261
2016-07-21     261
2015-09-28     258
2016-07-02     258
2015-12-24     255
2016-06-18     254
2015-12-27     253
2015-11-24     252
2015-10-26     251
2016-07-15     244
2016-01-06     243
2016-07-06     240
2015-10-12     239
2015-10-16     235
2015-11-07     235
2016-01-02     231
2016-07-17     227
2015-11-22     226
2016-06-19     224
2015-12-26     223
2015-09-17     221
2015-08-31     220
2015-12-10     215
2015-12-03     207
2015-10-06     206
2015-10-18     204
2016-01-03     204
2015-12-11     204
2015-10-27     195
2015-11-26     195
2016-06-25     192
2015-10-11     191
2016-06-26     190
2015-11-18     189
2015-09-16     188
2016-06-20     186
2016-07-04     186
2015-08-25     183
2015-09-14     182
2015-10-20     182
2016-07-07     181
2015-10-22     181
2015-08-12     181
2015-07-30     181
2015-09-03     179
2015-11-12     179
2015-11-19     178
2015-10-04     178
2015-09-26     177
2015-11-23     174
2016-06-27     172
2016-07-03     169
2016-01-09     169
2015-09-24     169
2015-11-09     169
2015-09-02     167
2016-06-22     167
2015-11-25     167
2015-09-07     166
2016-07-18     166
2015-08-30     166
2015-09-13     164
2015-11-10     160
2015-09-21     157
2015-11-27     156
2015-11-08     147
2015-09-19     147
2015-08-29     145
2015-09-25     144
2015-08-26     143
2015-09-05     142
2015-09-01     141
2015-08-13     138
2015-12-05     137
2015-10-24     137
2016-07-19     136
2015-12-04     135
2015-12-25     134
2015-08-11     131
2016-07-08     130
2015-10-25     130
2016-07-10     128
2015-08-21     124
2015-12-06     122
2015-08-07     118
2016-07-11     118
2015-07-15     117
2015-08-14     117
2016-07-26     115
2015-09-20     109
2015-09-27     109
2016-07-22     108
2016-07-25     107
2015-08-27     106
2016-07-23     105
2015-09-18     103
2015-07-03     102
2015-07-27     100
2015-08-19     100
2015-09-06      99
2015-09-22      99
2015-07-10      98
2016-07-09      93
2015-09-12      92
2015-07-01      92
2016-07-27      92
2015-07-02      90
2015-09-04      88
2016-07-20      87
2015-08-06      86
2015-07-31      85
2015-08-17      83
2015-07-14      74
2015-06-24      73
2015-08-03      70
2015-08-15      63
2015-07-08      63
2015-09-09      62
2015-08-04      61
2016-07-24      60
2015-08-01      57
2015-06-30      55
2015-08-28      54
2015-07-07      54
2015-09-11      54
2015-07-13      54
2015-08-02      54
2015-08-08      53
2015-07-28      52
2015-08-10      51
2015-06-01      50
2015-08-20      50
2015-08-05      49
2015-07-23      48
2015-07-06      47
2015-08-22      43
2015-07-09      42
2015-07-29      42
2015-08-18      39
2015-08-16      38
2015-05-31      37
2015-08-23      37
2015-07-16      37
2015-07-26      37
2015-07-04      36
2015-08-09      35
2015-07-12      34
2015-07-21      34
2015-07-11      33
2015-07-25      33
2015-07-05      32
2015-07-17      30
2015-08-24      29
2015-06-29      28
2015-06-10      27
2015-07-20      25
2015-06-18      25
2015-06-15      24
2015-07-22      23
2015-06-28      23
2015-06-17      22
2015-07-19      22
2015-06-22      21
2015-06-27      21
2015-07-24      21
2015-06-11      20
2015-06-19      20
2015-07-18      20
2015-06-09      19
2015-06-26      19
2015-06-16      18
2015-06-20      15
2015-09-10      13
2015-05-26      12
2015-06-12      12
2015-05-28      11
2015-05-27      11
2016-07-29      11
2015-06-05       8
2015-06-23       8
2015-05-20       7
2016-07-30       7
2015-05-11       7
2015-06-02       6
2015-06-07       5
2015-06-25       5
2015-06-03       5
2015-05-15       5
2016-08-05       5
2015-06-14       5
2015-06-06       4
2015-05-06       4
2015-05-13       3
2015-06-13       3
2015-05-04       2
2015-05-14       2
2015-05-07       2
2015-05-05       1
2015-06-21       1
2015-06-08       1
2015-05-30       1
2015-05-29       1
2015-05-18       1
2016-08-31       1
2016-09-14       1
Name: contb_receipt_amt, dtype: int64

- **3b answer here:** Most people donate near important election events. The day that received the most number of donations was 29th of February.

## If you have feedback for this homework, please submit it using the link below:

http://goo.gl/forms/74yCiQTf6k